
body {
    font-family: Fantasy, sans-serif;
    background-color: rgb(34, 97, 112);
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: size 15px;
}

li a{

display: block;
background-color: rgb(216, 213, 213);
padding: 15px;


}

li a:hover{

background-color: #f1dddd;
color: #fffefe;

}

ul{

    text-align: center;
    list-style-type:none;
    padding: 0%;
    width: auto;
    overflow: auto;
    border-style: dashed;
    margin: -20px;
    
}


